<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.camiloandresibarrayepes.pruebafoto3">

    <uses-permission
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Adda"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.camiloandresibarrayepes.Adda.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.camiloandresibarrayepes.Adda.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.camiloandresibarrayepes.Adda.gps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.camiloandresibarrayepes.Adda.Denuncia_gracias" />
        <activity android:name="com.example.camiloandresibarrayepes.Adda.info_adda" />
        <activity android:name="com.example.camiloandresibarrayepes.Adda.se_parte" />
        <activity android:name="com.example.camiloandresibarrayepes.Adda.llamadas" />
        <activity android:name="com.example.camiloandresibarrayepes.Adda.Mas_info" />
        <activity android:name="com.example.camiloandresibarrayepes.Adda.registro_gracias" />
        <activity android:name="com.example.camiloandresibarrayepes.Adda.usar_adda"></activity>
    </application>

</manifest>